.orange-button {
    background-color: #ff7000; /* Green */
    border: 0px;
    border-radius: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: black; 
    transition-duration: 0.3s;
    webkit-transition-duration: 0.3s;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
.center-text {
    text-align: center;
}